<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои подчинённые</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header(text='МОИ ПОДЧИНЁННЫЕ')">
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Фильтры</h3>
            <!-- Фильтры -->
            <form method="GET" th:action="@{/myPage/headOfDepartment/myEmployees}">
                <div class="form-group">
                    <label for="employeeStatus">Статус сотрудника:</label>
                    <select id="employeeStatus" name="employeeStatus">
                        <option th:each="status : ${statuses}"
                                th:value="${status.name()}">
                            <span th:switch="${status.name()}">
                                <span th:case="'WORKING'">РАБОТАЕТ</span>
                                <span th:case="'VACATION'">В ОТПУСКЕ</span>
                                <span th:case="'HEALING'">НА БОЛЬНИЧНОМ</span>
                                <span th:case="'FIRED'">УВОЛЕН</span>
                                <span th:case="*">Другой</span>
                            </span>
                        </option>

                        <option th:value="ALL">ВСЕ</option>
                    </select><br>
                </div>

                <div class="form-group">
                    <label for="positionName">Должность:</label>
                    <select id="positionName" name="positionName">
                        <option th:each="position : ${positions}"
                                th:text="${position.positionName}"
                                th:value="${position.positionName}"></option>

                        <option th:value="ALL">ВСЕ</option>
                    </select><br>
                </div>

                <div class="form-control">
                    <label for="phoneNumber">Номер телефона:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber"><br>
                </div>

                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" ><br>
                </div>
                <div class="form-control">
                    <label for="salaryStart">Начало диапазона зарплаты:</label>
                    <input type="number" id="salaryStart" name="salaryStart"><br>
                </div>
                <div class="form-control">
                    <label for="salaryEnd">Конец диапазона зарплаты:</label>
                    <input type="number" id="salaryEnd" name="salaryEnd"><br>
                </div>
                <div class="form-control">
                    <label for="startAmountOfWorkingYears">Начало диапазона лет работы в компании:</label>
                    <input type="number" id="startAmountOfWorkingYears" name="startAmountOfWorkingYears"><br>

                    <label for="endAmountOfWorkingYears">Конец диапазона лет работы в компании:</label>
                    <input type="number" id="endAmountOfWorkingYears" name="endAmountOfWorkingYears"><br>
                </div>

                <input th:type="hidden" th:value="${companyBranchId}" name="companyBranchId">
                <input th:type="hidden" th:value="${departmentId}" name="departmentId">
                <button type="submit" class="btn btn-primary">Применить фильтры</button>
            </form>
            <!-- Таблица сотрудников -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Зарплата</th>
                    <th scope="col">Дата найма</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employeeDTOS}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.positionName}"></td>
                    <td th:text="${employee.homeAddress}"></td>
                    <td th:text="${employee.salary.amount}"></td>
                    <td th:text="${employee.employmentDate}"></td>
                    <td th:switch="${employee.employeeStatus.name()}">
                        <span th:case="'WORKING'">РАБОТАЕТ</span>
                        <span th:case="'VACATION'">В ОТПУСКЕ</span>
                        <span th:case="'HEALING'">НА БОЛЬНИЧНОМ</span>
                        <span th:case="'FIRED'">УВОЛЕН</span>
                        <span th:case="*">Другой</span>
                    </td>
                    <td>
                        <a th:if="${employee.employeeStatus.name() eq 'WORKING'}"
                           class="btn btn-primary btn-sm"
                           th:href="@{/myPage/tasks/headOfDepartment/createTask/{employeeId}(employeeId=${employee.id})}">
                            Выдать задачу
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
            const startAmountInput = document.getElementById('startAmountOfWorkingYears');
            const endAmountInput = document.getElementById('endAmountOfWorkingYears');
            if (startAmountInput.value === '' && endAmountInput.value === '') {
                return true;
            }

            if (startAmountInput.value !== '' && endAmountInput.value !== '') {
                if (startAmountInput.value.includes('-') || startAmountInput.value.includes('+')
                    || endAmountInput.value.includes('-') || endAmountInput.value.includes('+')) {
                    alert('Строки не должны содержать сторонних символов');
                    event.preventDefault();
                    return false;
                }
                return true
            }

            // Возвращаем false если хотя бы одна дата не заполнена
            alert('Пожалуйста, заполните обе даты.');
            event.preventDefault();
            return false;
        });

        form.addEventListener('submit', function (event) {
            const salaryStart = document.getElementById('salaryStart');
            const salaryEnd = document.getElementById('salaryEnd');
            if (salaryStart.value === '' && salaryEnd.value === '') {
                return true;
            }

            if (salaryStart.value !== '' && salaryEnd.value !== '') {
                if (salaryStart.value.includes('-') || salaryStart.value.includes('+')
                    || salaryEnd.value.includes('-') || salaryEnd.value.includes('+')) {
                    alert('Строки не должны содержать сторонних символов');
                    event.preventDefault();
                    return false;
                }
                return true;
            }

            // Возвращаем false если хотя бы одна дата не заполнена
            alert('Пожалуйста, заполните оба поля зарплаты.');
            event.preventDefault();
            return false;
        })
    });
</script>
</body>
</html>