<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(text='МОИ ЗАДАЧИ')}"></header>

    <a class="btn btn-primary btn-sm" role="button" th:href="@{/myPage}">На мою страницу</a>
    <table class="table">
        <thead>
        <tr>
            <th>Дата выдачи</th>
            <th>Дата окончания</th>
            <th>Описание задачи</th>
            <th>Кем выдана</th>
            <th>Статус</th>
            <th>Действия:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskDTOS}">
            <td th:text="${task.taskCreated}">20.08.2024</td>
            <td th:text="${task.taskDeadLine}">25.08.2024</td>
            <td th:text="${task.taskDescription}">6</td>
            <td th:text="${task.employeeGiverContacts}"></td>
            <td th:text="${task.taskStatus}"></td>
            <td>
                <form th:if="${task.taskStatus.name() eq 'IN_PROCESS'}"
                      th:action="@{/myPage/tasks/{taskId}/finish(taskId=${task.id})}"
                      method="post">
                    <button type="submit"
                            class="btn btn-primary btn-sm">
                        Отправить на проверку
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>