<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продление задачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(text='ПРОДЛЕНИЕ ЗАДАЧ ЗАДАЧИ')}"></header>
    <form th:object="${dateExtensionDTO}"
          th:action="@{/myPage/tasks/headOfDepartment/{taskId}/extendTask(taskId=${dateExtensionDTO.taskId})}"
          method="post">

        <div class="form-group">
            <label for="extendedDeadline">Дата сдачи задачи:</label>
            <input type="date"
                   class="form-control"
                   id="extendedDeadline"
                   aria-describedby="extendedDeadlineError"
                   name="extendedDeadline"
                   th:field="*{extendedDeadline}"
                   required>

            <small th:if="${#fields.hasErrors('extendedDeadline')}"
                   th:errors="*{extendedDeadline}"
                   id="extendedDeadlineError"
                   class="form-text text-danger">Error</small>
        </div>

        <input th:type="hidden" th:field="*{taskId}" th:value="${dateExtensionDTO.taskId}">
        <button type="submit" class="btn btn-primary">Продлить задачу</button>
    </form>
</div>
</body>
</html>