<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Платежи сотрудников</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header(text='ПЛАТЕЖИ СОТРУДНИКОВ ФИЛИАЛА')">
    </header>
    <!-- Форма для выбора критериев поиска -->
    <form th:action="@{/myPage/accounting/employeesPaymentLogs}"
          method="get"
          onsubmit="return validateForm()">
        <div class="row">
            <div class="col-md-2">
                <label for="phoneNumber">Номер телефона:</label>
                <input type="text" id="phoneNumber" name="phoneNumber">
            </div>
            <div class="col-md-2">
                <label for="startDate">Начальная дата (гггг-мм-дд):</label>
                <input type="text" id="startDate" name="startDate" pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="col-md-2">
                <label for="endDate">Конечная дата (гггг-мм-дд):</label>
                <input type="text" id="endDate" name="endDate" pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="col-md-2">
                <label for="action">Действие:</label>
                <select id="action" name="action">
                    <option value="INCREASE">Пополнение</option>
                    <option value="DECREASE">Снятие</option>
                    <option value="ALL">Все</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="departmentId">Отдел:</label>
                <select id="departmentId" name="departmentId">
                    <option th:each="department : ${departmentDTOS}"
                            th:text="${department.departmentName}"
                            th:value="${department.id}">Отдел</option>
                    <option value="ALL">Все</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Поиск</button>
                <a class="btn btn-primary"
                   role="button"
                   th:href="@{/myPage/accounting/employeesPaymentLogs}">Все записи</a>
                <button type="button" class="btn btn-success" onclick="downloadExcel()">Скачать Excel</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Имя сотрудника</th>
            <th scope="col">Номер телефона сотрудника</th>
            <th scope="col">Количество средств</th>
            <th scope="col">Действие</th>
            <th scope="col">Тип платежа</th>
            <th scope="col">Дата платежа</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment : ${employeePaymentLogDTOS}">
            <td th:text="${payment.employeeName}"></td>
            <td th:text="${payment.employeePhoneNumber}"></td>
            <td th:text="${payment.paymentAmount.amount}"></td>
            <td th:text="${payment.transferAction}"></td>
            <td th:text="${payment.paymentType}"></td>
            <td th:text="${payment.dateOfPayment}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function validateForm() {
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        // Проверка, что обе даты не заполнены
        if (startDate === '' && endDate === '') {
            return true;
        }

        // Проверка, что обе даты заполнены
        if (startDate !== '' && endDate !== '') {
            return true;
        }

        // Возвращаем false если хотя бы одна дата не заполнена
        alert('Пожалуйста, заполните обе даты.');
        return false;
    }

    function downloadExcel() {
        // Найти таблицу с классом "table"
        const table = document.querySelector('.table');

        // Создать новую книгу Excel
        const wb = XLSX.utils.book_new();

        // Преобразовать таблицу в лист Excel
        const ws = XLSX.utils.table_to_sheet(table);

        // Добавить лист в книгу
        XLSX.utils.book_append_sheet(wb, ws, 'Платежи');

        // Генерация бинарных данных файла Excel
        const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        // Функция для преобразования строки в ArrayBuffer
        function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) {
                view[i] = s.charCodeAt(i) & 0xFF;
            }
            return buf;
        }

        // Создание файла Excel и его скачивание
        const blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "employee_payments.xlsx";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>
</body>
</html>