<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление должности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div th:if="${!isUpdating}">
        <header th:replace="~{fragments/header :: header(text='ДОБАВЛЕНИЕ ДОЛЖНОСТИ')}"></header>
    </div>

    <div th:if="${isUpdating}">
        <header th:replace="~{fragments/header :: header(text='ОБНОВЛЕНИЕ ДОЛЖНОСТИ')}"></header>
    </div>

    <div class="container">
        <form th:action="${isUpdating} ? @{/positions/{positionId}/update(positionId = ${positionId})} : @{/positions/createPosition}"
              th:object="${position}" method="post">
            <hr/>
            <h2>Название должности</h2>
            <div class="form-group">
                <label for="nameInput">Название должности</label>
                <input type="text" th:field="*{positionName}" class="form-control" id="nameInput"
                       aria-describedby="nameError" placeholder="Введите название должности"
                       th:value="${isUpdating} ? ${position.positionName} : ''">

                <small th:if="${#fields.hasErrors('positionName')}" th:errors="*{positionName}"
                       id="nameError"
                       class="form-text text-danger">Error</small>
            </div>
            <hr/>
            <h2>Отдел</h2>
            <div class="form-group">
                <label for="chooseDepartment" aria-describedby="chooseDepartmentError">Отдел</label>
                <select th:disabled="${isUpdating} ? true : false" class="form-control" id="chooseDepartment" name="chooseDepartment" th:field="*{departmentId}">
                    <option th:if="${!isUpdating}" th:each="departmentOption : ${departments}" th:value="${departmentOption.id}"
                            th:text="${departmentOption.departmentName}"></option>

                    <option th:if="${isUpdating}" th:value="${departmentSelected.id}" th:text="${departmentSelected.departmentName}"></option>
                </select>

                <small th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"
                       id="chooseDepartmentError"
                       class="form-text text-danger">Error</small>
            </div>
            <hr/>
            <h2>Ведущая?</h2>
            <div class="form-group">
                <input class="form-check-input" type="checkbox" th:value="${position.leading}" th:field="*{leading}" id="isLeading">
                <label class="form-check-label" for="isLeading" aria-describedby="isLeadingErrors">
                    Ведущая:
                </label>
                <small th:if="${#fields.hasErrors('leading')}" th:errors="*{leading}"
                       id="isLeadingErrors"
                       class="form-text text-danger">Error</small>
            </div>
            <input th:if="${isUpdating}" type="hidden" th:field="*{id}" th:value="${position.id}">
            <input th:if="${isUpdating}" type="hidden" th:field="*{departmentId}" th:value="${position.departmentId}">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
    </div>
</body>
</html>