<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Должности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header(text='ДОЛЖНОСТИ')"></header>

<div class="container">
    <hr/>
    <a class="btn btn-dark" th:href="@{/companyBranches/{companyBranchId}/departments/{depId}/positions/new(
            companyBranchId=${companyBranchId}, depId=${depId})}" role="button">Добавить должность</a>
    <hr/>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Название должности</th>
            <th scope="col">Количество сотрудников</th>
            <th scope="col">Необходимое количество сотрудников</th>
            <th scope="col">Обновление</th>
            <th scope="col">Удаление</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="positionDTO : ${positionsDTO}">
                <td th:text="${positionDTO.positionName}"></td>
                <td th:text="${positionDTO.amountOfEmployees}"></td>
                <td th:text="${positionDTO.requiredEmployeeAmount}"></td>
                <td>
                    <a class="btn btn-dark" role="button" th:href="@{/companyBranches/{companyBranchId}/departments/{depId}/positions/{positionId}/update(
                    companyBranchId=${companyBranchId}, depId=${depId}, positionId = ${positionDTO.getId()})}">Обновить</a>
                </td>
                <td>
                    <form th:action="@{/companyBranches/{companyBranchId}/departments/{depId}/positions/{positionId}/delete(
                companyBranchId=${companyBranchId}, depId=${depId}, positionId = ${positionDTO.getId()})}" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/pagination :: pagingated(${totalPages}, ${currentPage})"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
