<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список отпусков сотрудника</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(text='ЗАПРОС ОТПУСКОВ СОТРУДНИКОВ')}"></header>
    <a class="btn btn-primary btn-sm" role="button" th:href="@{/myPage}">На мою страницу</a>
    <table class="table">
        <thead>
        <tr>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Количество дней</th>
            <th>Контакты сотрудника</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacation : ${vacationRequestDTOS}">
            <td th:text="${vacation.vacationStartDate}">20.08.2024</td>
            <td th:text="${vacation.vacationEndDate}">25.08.2024</td>
            <td th:text="${vacation.vacationDaysAmount}">6</td>
            <td th:text="${vacation.contacts}">Контакты</td>
            <td th:text="${vacation.requestStatus}">Ожидает подтверждения</td>
            <td>
                <a class="btn btn-primary btn-sm" role="button"
                   th:disabled="${vacation.requestStatus.name() eq 'CANCELLED'}"
                   th:href="@{/myPage/vacations/{vacationId}/update(vacationId = ${vacation.id})}">Обновить</a>
                <form th:action="@{/myPage/vacations/{vacationId}/approve (vacationId=${vacation.id})}" method="post">
                    <button th:disabled="${vacation.requestStatus.name() eq 'CANCELLED' ||
                            vacation.requestStatus.name() eq 'APPROVED'}"
                            type="submit" class="btn btn-primary btn-sm">Одобрить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>