<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ОЗапросы отпусков сотрудников</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(text='ЗАПРОСЫ ОТПУСКОВ СОТРУДНИКОВ')}"></header>
    <button type="button" class="btn btn-success" onclick="downloadExcel()">Скачать Excel</button>
    <table class="table">
        <thead>
        <tr>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Количество дней</th>
            <th>Контакты сотрудника</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacation : ${vacationRequestDTOS}">
            <td th:text="${vacation.vacationStartDate}">20.08.2024</td>
            <td th:text="${vacation.vacationEndDate}">25.08.2024</td>
            <td th:text="${vacation.vacationDaysAmount}">6</td>
            <td th:text="${vacation.contacts}">Контакты</td>
            <td th:text="${vacation.requestStatus}">Ожидает подтверждения</td>
            <td>
                <a class="btn btn-primary btn-sm" role="button"
                   th:disabled="${vacation.requestStatus.name() eq 'CANCELLED'}"
                   th:href="@{/myPage/vacations/{vacationId}/update(vacationId = ${vacation.id})}">Обновить</a>
                <form th:action="@{/myPage/vacations/{vacationId}/approve (vacationId=${vacation.id})}" method="post">
                    <button th:disabled="${vacation.requestStatus.name() eq 'CANCELLED' ||
                            vacation.requestStatus.name() eq 'APPROVED'}"
                            type="submit" class="btn btn-primary btn-sm">Одобрить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function downloadExcel() {
        // Найти таблицу с классом "table"
        const table = document.querySelector('.table');

        // Создать новую книгу Excel
        const wb = XLSX.utils.book_new();

        // Преобразовать таблицу в массив данных, исключая второй столбец
        const rows = [];
        const trs = table.querySelectorAll('tr');

        trs.forEach(tr => {
            const row = [];
            const tds = tr.querySelectorAll('th, td');
            tds.forEach((td, index) => {
                if (index !== 5) { // Исключить второй столбец (index 1)
                    row.push(td.innerText);
                }
            });
            rows.push(row);
        });

        // Преобразовать массив данных в лист Excel
        const ws = XLSX.utils.aoa_to_sheet(rows);

        // Добавить лист в книгу
        XLSX.utils.book_append_sheet(wb, ws, 'Платежи');

        // Генерация бинарных данных файла Excel
        const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        // Функция для преобразования строки в ArrayBuffer
        function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) {
                view[i] = s.charCodeAt(i) & 0xFF;
            }
            return buf;
        }

        // Создание файла Excel и его скачивание
        const blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "subordinate_employees_vacations.xlsx";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>